<main class="main">
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav class="sidenav" mode="side" opened>
      <img class="mana medium" src="/mana/W.png" alt="My image name" />

      <img class="mana medium" src="/mana/U.png" alt="My image name" />

      <img class="mana medium" src="/mana/B.png" alt="My image name" />

      <img class="mana medium" src="/mana/R.png" alt="My image name" />

      <img class="mana medium" src="/mana/G.png" alt="My image name" />

      <mat-list>
        <mat-list-item *ngFor="let toDo of toDos">{{toDo}}</mat-list-item>
       </mat-list>
    </mat-sidenav>
    <mat-sidenav-content class="sidenav-content">
      <div class="deck-container">
        <app-deck-card
          class="deck"
          *ngFor="let testdeck of TestDecks"
          [deck]="testdeck">
        </app-deck-card>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</main>
<router-outlet />
