  .sidenav-content {
    display: flex !important;
}
  
.deck-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.deck{
    min-width: 25rem;
    margin-top: 1rem;
    margin-left: 1rem;
}

html, body, main {
    margin:0px;
    height:100%;
}

.sidenav-container{
    min-height: 100%;
}

.toolbar-spacer {
    flex: 1 1 auto;
}

.primary{
    background-color: var(--mat-toolbar-container-text-color, var(--mat-app-on-surface));
    margin: 1rem;
}